.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-start;
}

.rounds {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.top-part {
  flex: 1;
}

.bottom-part {
  flex: 4;
}

.home {
  margin-top: 2vh;
  /* width: 90%; */
  height: 90%;
  flex: 2;
}

.control {
  align-items: flex-start;
  align-content: flex-start;
  flex: 1;
}

h1 {
  color: brown;
  font-size: 5vh;
}

button {
  margin-top: 10vh;
  background-color: darkcyan;
  color: white;
  border-radius: 10px;
  width: 50%;
  height: 5vh;
}
